# Überschrift
## Unterüberschrift
Das ist der Text
- Punkt 1
- Punkt 2
- Punkt 3
kursiv setzen: *kursiv*

In [2]:
print("Hello World")

Hello World

In [3]:
print("Nochmal Hallo")

Nochmal Hallo

In [4]:
name = "Lovelace"

In [5]:
print(name)

Lovelace

In [6]:
age = 73

In [7]:
print(age)

73

In [8]:
size = 1.1733

In [9]:
print(size)

1.1733

In [10]:
# Bool'scher Wert
knows_math = True
likes_slacking = False

In [11]:
type(name)

str

In [12]:
# Operatoren
5 + 5

10

In [13]:
age * 100

7300

In [14]:
name + name

'LovelaceLovelace'

In [15]:
name * 3

'LovelaceLovelaceLovelace'

In [16]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [ ]:
name + "10"

In [ ]:
name + age

In [ ]:
name + str(age)

In [ ]:
new_number = "10"
int(new_number)

In [ ]:
# Funktionen und Methoden
len(name)

In [ ]:
name

In [ ]:
name.upper

In [ ]:
name.upper()

In [ ]:
name_capital = name.upper()

In [ ]:
name.count("e")

In [ ]:
buchstabe = "e"
name.count(buchstabe)

In [ ]:
name.replace?

In [ ]:
name.count?

In [ ]:
name.replace("lace", " is everywhere")

In [ ]:
# Liste und Dictionaries

In [18]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [19]:
names[2]

'Curie'

In [20]:
names[0]

'Lovelace'

In [21]:
names[3]

'Hawking'

In [22]:
names[-1]

'Hawking'

In [23]:
# Slicing
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [24]:
names[3:]

['Hawking']

In [30]:
# Dictionary
authors_and_birth_years = {"Lovelace": [1882, "London", "1903"], 
                           "Darwin": 1809, 
                           "Noether": 1882}

In [26]:
authors_and_birth_years["Darwin"]

1809

In [27]:
authors_and_birth_years["Noether"]

1882

In [28]:
authors_and_birth_years["Lovelace"]

1882

In [31]:
authors_and_birth_years["Lovelace"]

[1882, 'London', '1903']

In [33]:
authors_and_birth_years["Lovelace"][1]

'London'

In [34]:
%who

age	 authors_and_birth_years	 knows_math	 likes_slacking	 name	 names	 size

In [35]:
# for-Schleifen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [39]:
for name in names:
    print(name + " did awsome stuff")
print ("------------------------")

Lovelace did awsome stuff
Darwin did awsome stuff
Curie did awsome stuff
Hawking did awsome stuff
------------------------

In [40]:
# conditionals
temp = 20

In [41]:
if temp > 15:
    print("It's warm")

It's warm

In [46]:
temp = 20
if temp == 20:
    print("It's perfect")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's perfect